header{
    background-color: #BBBBBB;
    padding: 20px 0;

}
nav{
    position: absolute;
    top: 110px;
    right: 0%;
    color: #e21717;
    vertical-align: super;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
 }
 nav a:hover{
    color: black;
 }

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}
nav li a{
    text-decoration: none;
}
#caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h2{
    font-size: 35px;
    font-weight: bold;
}
main ul li{
    display: inline-block;
    font-family: century gothic;
    font-size: 20px;
    text-align: center;
    color: chocolate;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 20px;
    width: 30%;
    height: 500px;
    vertical-align: top;
    padding-top: 50px;
    border-radius: 10%;
    border-color: black;
    border-width: 10px;
    border-style: dotted;
}
main ul li:hover{
    border-color:red ;
}
main ul li:active{
    border-color: chocolate;
    
}
main ul li:hover h2{
    font-size: 45px;
}

#cajaProductos{
    position: relative;
    width:1200px;
    margin: 0 auto;
}

.product-description{
    color: blue;
}

.product-price{
    padding-top: 20px;
    color: #e21717;
    font-weight:normal;
}

footer{
    background-color: black;
    text-align: center;
    font-family: century gothic;
    color: aliceblue;
    margin-top: 50px;
}
#cajaPie{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}